{% extends 'base_admin.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <ol class="breadcrumb d-flex align-items-center">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">IPdemat</a></li>
                            <li class="breadcrumb-item active">Accueil</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="banner d-flex justify-content-between align-items-start p-3">
        <div class="text-white">
            <div>
                <h2 class="text-white">Bienvenue sur
                    <span class="text-success">IPDemat</span>
                    <span class="text-danger"> - One</span>
                    {{ app.user ? app.user.prenom : "" }}</h2>
            </div>
        </div>
        <div class="input-rounded">
            <i class="fas fa-search text-white"></i>
            <input type="search" placeholder="Rechercher">
        </div>
    </div>

    <div class="card-statistic-simple-user">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-12 margin-top-30 margin-left-20 card-statistic-item">
                    <i class="fas fa-dollar-sign text-white"></i>
                        {# {% set recu = 0 %}
                        {% set depense = 0 %}

                        {% if recu > 0 %} #}
                        <span class="text-white mx-2">Crédit</span>
                        <span class="text-white">2</span>
                        {# {% endif %} #}
                    
                </div>
                <div class="col-lg-3 col-sm-12 margin-top-30 margin-left-20 card-statistic-item">
                    <i class="fas fa-dollar-sign text-white"></i>
                    <span class="text-white mx-2">Dédit</span>
                    <span class="text-white">56</span>
                </div>
                <div class="col-lg-3 col-sm-12 margin-top-30 margin-left-20 card-statistic-item">
                    <i class="fas fa-hands-helping text-white"></i>
                    <span class="text-white mx-2">Partenaire</span>
                    <span class="text-white">56</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}