<div class="topbar fixed">
    <nav class="navbar-custom">
        <ul class="list-unstyled topbar-nav float-right mb-0 order-5">
            <li class="dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#"
                    role="button" aria-haspopup="false" aria-expanded="false">
                    <span class="ml-1 nav-User-name hidden-sm">
                        {{ app.user ? app.user.Prenom|title : ""}}
                    </span>
                    {% if app.user.picture != NULL %}
                    <img src="{{ asset('uploads/images/users/' ~ app.user.picture) }}" alt="picture teacher" class="rounded-circle thumb-xs">
                    {% else %}
                    <img src="{{ asset('img/no-image.png') }}" alt="No image" class="rounded-circle thumb-xs">
                    {% endif %}                   
                </a>
                    <div class="dropdown-menu dropdown-menu-right option bonnet blanc">
                        <a class="dropdown-item" href="#"><i data-feather="user" class="align-self-center icon-xs icon-dual mr-1"></i>
                            Profile</a>
                        <div class="dropdown-divider mb-0"></div>
                        <a class="dropdown-item" href="{{ path('app_logout') }}"><i data-feather="power" class="align-self-center icon-xs icon-dual mr-1"></i>Déconnexion</a>
                    </div>
            </li>
        </ul>
        <ul class="list-unstyled topbar-nav mb-0">
            <li>
                <button class="nav-link button-menu-mobile">
                    <i data-feather="menu" class="align-self-center topbar-icon"></i>
                </button>
            </li>
        </ul>
    </nav>
</div>