<!-- Left Sidenav -->
<div class="left-sidenav">
    <!-- logo -->
    <div class="brand mb-3 d-flex align-items-center">
        <a href="{{ url('home') }}" class="logo mx-1">
            <img src="{{ asset('assets/images/ipdemat.png') }}" width="250" height="650" alt="logo-small" class="mt-3 img-thumbnail">
        </a>
        {# <div class="ml-2">
            <span class="text-success">IPDemat</span>
            <span class="text-danger"> One</span>
        </div> #}
    </div>
    <!--end logo-->
    <!--items-->
    <div class="menu-content h-100" data-simplebar>
        <ul class="metismenu left-sidenav-menu md-9 font-siza=15px">
            {# {% if not is_granted("ROLE_ADMIN") %}#}
            {# <li class="d-flex justify-content-between mb-3">
                <a href="#" class="btn bg-white btn-round px-3">
                    <i class="fas fa-plus text-black"></i>
                    <span class="text-black">Nouveau Agent</span>
                </a>
            </li> #}
            <li class="mb-4">
                <a href="{{ path("home") }}">
                    <i class="fas fa-home text-white ml-2"></i>
                    <span class="nav-text ml-1"> Accueil</span>
                </a>
            </li>
            <li class="mb-4">
                <a href="{{ path('part') }}">
                    <i class="fas fa-hands-helping text-white ml-2"></i>
                    <span class="nav-text ml-2">Partenaire</span>
                </a>
            </li>
            <li class="mb-4">
                <a href="{{path("recu")}}">
                    <i class="fas fa-dollar-sign text-white ml-2"></i>
                    <span class="nav-text ml-2">Soldes Récupérées</span>
                </a>
            </li>
            <li class="mb-4">
                <a href="{{ path('depense') }}">
                    <i class="fas fa-dollar-sign text-white ml-2"></i>
                    <span class="nav-text ml-2">Soldes Dépensées</span>
                </a>
            </li>

            <hr class="bg-secondary">

            <li class="mb-4">
                <a href="{{ path("dashboard") }}">
                    <i class="fas fa-chart-bar text-white ml-2"></i>
                    <span class="nav-text ml-1">Tableau de bord</span>
                </a>
            </li>
            <li class="mb-4">
                <a href="{{ path("situation") }}">
                    <i class="fas fa-money-check text-white ml-2"></i>
                    <span class="nav-text ml-2">Situation</span>
                </a>
            </li>
            <li class="mb-4">
                <a href="{{ path("user") }}">
                    <i class="fas fa-user-circle text-white ml-2"></i>
                    <span class="nav-text ml-2"> Agent</span>
                </a>
            </li>

            {% if is_granted("ROLE_ADMIN") %}
            <li class="mb-4">
                <a href="#">
                    <i class="fas fa-chart-bar text-white ml-2"></i>
                    <span class="nav-text ml-2">Tableau de bord</span>
                </a>
            </li>

            <li class="mb-4">
                <a href="#">
                    <i class="fas fa-user-circle text-white ml-2"></i>
                    <span class="nav-text ml-2">Utilisateurs</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- end items-->
</div>
<!-- end left-sidenav-->