{% extends 'base_admin.html.twig' %}
{% block title %}Situation des utilisateurs{% endblock %}
{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb pt-3 d-flex align-items-center">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0);">IPDemat</a>
                </li>
                <li class="breadcrumb-item active">Situation des chaques utilisateurs</li>
            </ol>
            {% include 'partials/research.html.twig' %}
            <table class="table table-striped" id="table">
                <thead>
                    <tr>
                        <td class="text-white">Numéro de compte</td>
                        <td class="text-white">Nom</td>
                        <td class="text-white">solde Récupère</td>
                        <td class="text-white">Date de Récupèration</td>
                        <td class="text-white">Solde Dépense</td>
                        <td class="text-white">Date de Dépense</td>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    {% for recu in recus %}
                    {% for depense in depenses %}
                    <tr>
                        <td>{{ user.NumCom }}</td>
                        <td>{{ user.Nom }}</td>
                        <td>{{ recu.monRecu }}</td>
                        <td>{{ recu.date | date('d-m-Y') }}</td>
                        <td>{{ depense.monDep }}</td>
                        <td>{{ depense.date | date('d-m-Y') }}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}