{% extends 'base_admin.html.twig' %}


{% block title %}crédit{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container-fluid">
    <div class="row">
        <div class="class col-sm-12">
            {# <h3 class="float-left">Mon compte</h3> #}
            <ol class="breadcrumb pt-3 d-flex align-items-center">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0);">IPDemat</a>
                </li>
                <li class="breadcrumb-item active">Mes soldes reçus</li>
            </ol>
            <a href="{{ path('solde-recu') }}" class="btn btn-primary float-right mb-3"><i class="fa fa-plus"></i>Recharge
                nouvelle</a>

            <table class="table">
                <thead>
                    <tr>
                        <td class="text-white">Date</td>
                        <td class="text-white">Client</td>
                        <td class="text-white">Montant Reçu</td>
                        <td class="text-white">Observation</td>
                        <td class="text-white"></td>
                    </tr>
                </thead>
                <tbody>
                    {% for recu in recus %}
                    <tr>
                        <td>{{ recu.date | date ("d-m-Y") }}</td>
                        <td>{{ recu.client.Nom }}</td>
                        <td>{{ recu.monRecu }}</td>
                        <td>{{ recu.obs }}</td>
                        <td>
                            <div class="dropdown show">
                                <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Action
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('maj', {id:recu.id}) }}">Mettre à jour </a>
                                    <a class="dropdown-item" href="{{ path('suppression', {id:recu.id}) }}"
                                    onclick="return confirm('Est-ce que vous voulez vraiment supprimer cet element');">Suppression</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}