{% extends "base.html.twig" %}

{% block title %} rechagement{% endblock %}

{% block body %}
<div class="container bootstrap snippet">
    <div class="container mt-4">
        <h4>Rechargement</h4>
        {{ form_start(form) }}

        <div class="row">
            <div class="col">{{ form_row(form.date) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(form.client) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(form.monRecu) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(form.obs) }}</div>
        </div>

        <div class="flex float-right">
            <button class="btn btn-success" 
                onclick="return confirm('Est-ce que vous voulez vraiment de recharger votre compte');">Valider</button>
            <a href="{{path('recu')}}" class="btn btn-warning rounded-0">
                Annuler
            </a>
        </div>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}