{% extends "base.html.twig" %}

{% block body %}
<div class="container bootstrap snippet">
    <h1>Ajouter un partenaire</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="flex">
        <button class="btn btn-success">Enregitrer</button>
        <a href="{{ path('part') }}" class="btn btn-warning rounded-0">
            Retourner
        </a>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}