{% extends 'base_admin.html.twig' %}

{% block title %}partenaire{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <ol class="breadcrumb pt-3 d-flex align-items-center">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">IPDemat</a>
                            </li>
                            <li class="breadcrumb-item active">Mes partenaires</li>
                        </ol>
                    </div>
                </div>
                <div class="col-auto align-self-center">
                    <a href="{{ path('part_new') }}" class="btn btn-primary float-right mb-3"><i class="fa fa-plus"></i>Ajouter</a>
                    {% include "partials/research.html.twig" %}
                </div>

            </div>
            <table class="table table-striped" id="table">
                <thead>
                    <tr>
                        <td class="text-white">Nom</td>
                        <td class="text-white">Numéro</td>
                        <td class="text-white"></td>
                    </tr>
                </thead>
                <tbody>
                    {% for part in parts %}
                    <tr>
                        <td>{{ part.nom }}</td>
                        <td>{{ part.num }}</td>
                        <td>
                            <div class="dropdown show">
                                <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Action
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('part_edit',{id:part.id}) }}">Mettre à jour
                                    </a>
                                    <a class="dropdown-item" href="{{ path('part_suppr',{id:part.id}) }}">Suppression</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- </div> -->
        </div>
    </div>
</div>
{% endblock %}