{% extends 'base_admin.html.twig' %}

{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title-box">
        <div class="row">
          <div class="col">
            <ol class="breadcrumb d-flex align-items-center">
              <li class="breadcrumb-item"><a href="javascript:void(0);">IPDemat</a></li>
              <li class="breadcrumb-item active">Tableau de bord</li>
            </ol>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end page-title-box-->
    </div>
    <!--end col-->
  </div>
  <!--end row-->
  <!-- end page title end breadcrumb -->


  {# banner #}
  <div class="banner d-flex justify-content-between align-items-start p-3">
    <div class="text-white">Administration</div>
    <div class="d-flex align-items-center">
    </div>
  </div>
  {# End banner #}

  {# Card statistique #}
  <div class="card-statistic">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-12 margin-top-30 margin-left-20 card-statistic-item">
          <i class="fas fa-tasks text-white"></i>
          <span class="text-white mx-2">Utilisateurs</span>
          <span class="text-white">{{ users }}</span>
        </div>

        <div class="col-lg-3 col-sm-12 margin-top-30 margin-left-20 card-statistic-item">
          <i class="fas fa-address-card text-white"></i>
          <span class="text-white mx-2">Partenaire</span>
          <span class="text-white">{{ part }}</span>
        </div>
      </div>
    </div>
  </div>
  {# End Card statistique #}
</div>
<!-- container -->
{% endblock %}