{% extends 'base_admin.html.twig' %}

{% block title %}débit{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container-fluid">
    <div class="row">
        <div class="class col-sm-12">
            <ol class="breadcrumb pt-3 d-flex align-items-center">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0);">IPDemat</a>
                </li>
                <li class="breadcrumb-item active">Mes dépenses</li>
            </ol>
            <a href="{{ path('solde_depende') }}" class="btn btn-primary float-right mb-3"><i class="fa fa-plus"></i>Nouvelle
                dépense</a>
            <table class="table">
                <thead>
                    <tr>
                        <td class="text-white">Date</td>
                        <td class="text-white">Motifs</td>
                        <td class="text-white">Montant</td>
                        <td class="text-white">Action</td>
                    </tr>
                </thead>
                <tbody>
                    {% for depense in depenses %}
                    <tr>
                        <td>{{ depense.date | date("d-m-Y") }}</td>
                        <td>{{ depense.motifs }}</td>
                        <td>{{ depense.monDep }}</td>
                        <td>
                            <a href="{{ path("suppr_solde_depense", {id:depense.id}) }}" class="btn btn-danger"
                            onclick="return confirm('Est-ce que vous voulez vraiment supprimer cet element');">Supprimer</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}