{% extends "base.html.twig" %}

{% block body %}
<div class="container bootstrap snippet">
    <div class="container mt-4">
        <h4>Dépense</h4>
        {{ form_start(form) }}
        <div class="row">
            <div class="col">{{ form_row(form.date) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(form.motifs) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(form.monDep) }}</div>
        </div>

        <div class="flex float-right">
            <button class="btn btn-success">Valider</button>
            <a href="{{path('depense')}}" class="btn btn-warning rounded-0">
                Annuler
            </a>
        </div>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}