{% extends 'base_admin.html.twig' %}

{% block title %}Modification d'utilisateur{% endblock %}

{% block body %}
{% include 'partials/header.html.twig' %}
<div class="container bootstrap snippet">

    <div class="container mt-4">
        <h4>Modifier utilisateur</h4>
        {{ form_start(form) }}

        <div>
            <img src="{{ asset('img/no-image.png') }}" class="avatar avatar-preview" alt="avatar">
            <div class="row">
                <div class="col-md-5">{{ form_row(form.picture) }}</div>
            </div>
        </div>
        </hr><br>

        <div class="row">
            <div class="col-md-5">{{ form_row(form.Nom) }}</div>
            <div class="col-md-5">{{ form_row(form.Prenom) }}</div>
        </div>

        <div class="row center">
            <div class="col-md-3">{{ form_row(form.NumCom) }} </div>
            <div class="col-md-3">{{ form_row(form.Tel) }}</div>
        </div>

        <div class="row">
            <div class="col-md-5">{{ form_row(form.email) }}</div>
        </div>

        <div class="row">
            <div class="col-md-5">{{ form_row(form.Password) }}</div>
            <div class="col-md-5">{{ form_row(form.Confir_pwd) }}</div>
        </div>

        <div class="flex float-right">
            <Button class="btn btn-success">Modifier</Button>
            <a href="{{path('user')}}" class="btn btn-warning rounded-0">
                Annuler
            </a>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/preview-upload.js') }}"></script>
{% endblock %}